<h2>Update <%= @ingredient.name.titleize %></h2>

<%= form_for @ingredient do |f| %>
    <%= render partial: "recipes/form", locals: {f: f } %>
        <%= f.collection_check_boxes :recipe_ids, Recipe.all, :id, :name  %><br>

<% end %>